.carousel-container {
  height: -webkit-calc(100vh - 56px);
  height:    -moz-calc(100vh - 56px);
  height:         calc(100vh - 56px);
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}
.carousel {
  width: inherit !important;
  height: inherit !important;
  overflow: hidden;
}
.carousel-item-container {
  text-align:center; 
  overflow: hidden;
}
.carousel-item {
  max-width: 100%;
  padding-left: auto;
  padding-right: auto;
  height: -webkit-calc(100vh - 56px);
  height:    -moz-calc(100vh - 56px);
  height:         calc(100vh - 56px);
  width: 100%;
  background-size: contain;
  object-fit: cover;
  overflow: hidden;
}
.carousel-row {
  margin: 0px;
  background-color: #ebebeb;
}
.play-button-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  visibility: "visible";
  cursor:pointer;
}