.nav-text {
    // display: block;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    line-height: 56px; 
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: #760000;
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        transition: color 0s ease-in-out;
        transition: background-color 0s ease-in-out;
        background: darken(white, 9%);
        color: #760000;
      }
      &:active {
        transition: color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        background: #760000;
        color: darken(white, 12%);
      }
}

.nav-text.active {
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    background: #760000;
    color: darken(white, 12%);
}


.nav-div {
    height: 100px;
}

.navbar-style {
    padding: 0px 10%;
    background-color: #FFFFFF;
    z-index: 100000;
}

.animated-header {
    animation: header-animation 2s 1;
    -webkit-animation: header-animation 2s 1;
    -moz-animation: header-animation 2s 1;
}

@media only screen and (max-width: 991px){
    .nav-text {
        line-height: 50px;
    }
}

@keyframes header-animation {
    0% {
        opacity: 0;
        top: -56px;
    }
    50% {
        opacity: 0;
        top: -56px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes header-animation {
    0% {
        opacity: 0;
        top: -56px;
    }
    50% {
        opacity: 0;
        top: -56px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@-moz-keyframes header-animation {
    0% {
        opacity: 0;
        top: -56px;
    }
    50% {
        opacity: 0;
        top: -56px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}