.page-container {
    background-color: darker(white, 12%);
}


.carousel-container {
    // position: fixed;
    // left: 50%;
    // transform: translateX(-50%);
    // z-index: 1000000;
}

hr {
    position: fixed;
    margin-top: 225px;
    color: white;
    background-color: white;
    width: 100%;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

.action-button {
    background:#740000;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.action-container {
    position:fixed;
    height:70px;
    bottom:20px;
    width: 100%;
    z-index: 1000000;
}

.product-card {
    background-color: white;
}

.shadow-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}