.title-box { 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.plan-container {
  padding-left: 100px;
  padding-right: 100px;
}

.play-button-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  visibility: "visible";
  cursor:pointer;
}



@media only screen and (max-width: 991px){
    .plan-container {
      padding-left: 10px;
      padding-right: 10px;
    }
    .title-col {
      height: 300px;
    }
  }

@media only screen and (max-width: 575px){
  .title-box {
    padding-right: 40px;
  }
}