.tms-image-container {
    width: 100%;    
    height: 100vh;
    background-color: black;
    padding-bottom: 0px;
    position: relative;
}

.tms-image {
    position: absolute;
    bottom: 0px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}


.play-button {
    margin-top: 28px;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   left: 50%;
   transform: translate(-50%, -50%);   /* 4 */
   height: 100px;
   width: 100px;
}

.play-image {
    width: 100%; 
    height: 100%;
}


@media only screen and (max-width: 991px){
    .tms-image-container {
        max-height: 400px;
    }
    }